CONFIG_SOC_SERIES_STM32F1X=y
CONFIG_SOC_STM32F103XB=y
# Serial Drivers
CONFIG_SERIAL=y

# enable console
CONFIG_CONSOLE=y

# enable uart driver
CONFIG_UART_CONSOLE=y

# GPIO Controller
CONFIG_GPIO=y

CONFIG_PWM=y

CONFIG_CAN=y

CONFIG_SPI=y
CONFIG_SPI_EXTENDED_MODES=y
# Enables clocks
CONFIG_CLOCK_CONTROL=y

# enable pin controller
CONFIG_PINCTRL=y

CONFIG_RING_BUFFER=y